<div class="cr-main-content">
    <h1>Video Course 1. Name Tag</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu efficitur risus. Ut lobortis sed lorem at iaculis. Proin varius mauris eget tincidunt vehicula. Quisque ac lectus posuere, dictum est eget, facilisis sem. Suspendisse et dictum neque. Morbi vitae massa faucibus purus pharetra commodo. Cras nisi magna, tempus sed felis eget, lacinia placerat risus. Vivamus mattis urna at facilisis mollis. Vivamus risus sapien, sollicitudin ut rutrum ut, pharetra sed est. Aenean id ligula neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.     </p>
</div>
