<app-breadcrumb [section]="section"></app-breadcrumb>
<div class="new-main-content">
    <div class="new-course-card">
        <form 
            action="" 
            (ngSubmit)="createNewCourse()"
            (keydown.enter)="$event.preventDefault()"
            (keydown.shift.enter)="$event.preventDefault()">
            <h3>New Course</h3>
            <div class="title-container">
                <span class="title-tag">Title:</span>
                <span class="required">*required</span>
                <br>
                <div class="input-title">
                    <input name="title" [(ngModel)]="newCourse.name" type="text" placeholder="Enter title">
                </div>
            </div>
            <div class="desc-container">
                <span class="desc-tag">Description:</span>
                <span class="required">*required</span>
                <br>
                <div class="textarea-desc">
                    <textarea name="desc" [(ngModel)]="newCourse.description" placeholder="Add description" cols="30" rows="10"></textarea>
                </div>
            </div>

            <div class="duration-container">
                <div class="duration-titles">
                    <span class="duration-tag">Duration:</span>
                    <span class="required">*required</span>
                </div>
                <div class="duration-cont-input">
                    <div class="input-duration">
                        <input type="text" placeholder="minutes" name="duration" [(ngModel)]="newCourse.length">
                    </div>
                    <div class="duration-pipe">{{newCourse.length | duration}}</div>
                </div>
            </div>
            <div class="date-container">
                <span class="date-tag">Date:</span>
                <span class="required">*required</span>
                <br>
                <div class="input-date">
                    <input 
                        type="text" 
                        placeholder="mm-dd-yy" 
                        name="date" 
                        [ngModel]="newCourse.date" 
                        (ngModelChange)="newCourse.date=$event">
                </div>
            </div>
            <div class="authors-container">
                <span class="authors-tag">Authors:</span>
                <span class="required">*required</span>
                <br>
                <div class="input-authors">
                    <input 
                        type="text" 
                        name="author" 
                        #authorInput
                        matInput
                        [matAutocomplete]="auto"
                        (keydown)="searchAuthors($event)">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let author of authorsFromService" [value]="author.name" (keydown.enter)="addAuthor(author)" >
                            <span (click)="addAuthor(author)">{{author.name}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div class="authors" *ngFor="let author of newCourse.authors; let i = index"><span>{{author.name}}</span><div class="remove-author" (click)="removeAuthor(i)">+</div></div>
            </div>
            <div class="button-containers">
                <button mat-flat-button class="cancel" (click)="backToCourses()">Cancel</button>
                <button mat-flat-button class="save" type="submit">Save</button>
            </div>
        </form>
    </div> 
</div>