<div class="login-main-content">
    <div class="login-card">
        <form action="" (ngSubmit)="login()" [formGroup]="loginForm">
            <h3>{{ 'login.title' | translate }}</h3>
            <div *ngIf="wrongCreds" class="wrong"><p>wrong email or password</p></div>
            <div class="email-container">
                <span class="email-tag">{{ 'login.email' | translate }}: <span class="email-req" *ngIf="email.invalid && email.touched">Email is required</span></span>
                <span class="required">*{{ 'login.required' | translate }}</span>
                <br>
                <div class="input-email">
                    <input 
                    formControlName="email" 
                    name="email" 
                    type="text" 
                    placeholder="Enter e-mail">
                </div>
            </div>
            <div class="password-container">
                <span class="password-tag">{{ 'login.password' | translate }}: <span class="pass-req" *ngIf="password.invalid && password.touched">Password is required</span></span>
                <span class="required">*{{ 'login.required' | translate }}</span>
                <br>
                <div class="input-pass">
                    <input 
                        formControlName="password" 
                        name="password" 
                        type="password" 
                        placeholder="Enter Password">
                </div>
            </div>
            <div class="forgot">
                <span><a href="">{{ 'login.forgot' | translate }}?</a></span>
            </div>
            <div class="login-button">
                <button [disabled]="loginForm.invalid" type="submit">{{ 'login.loginButton' | translate }}</button>
            </div>
        </form>
    </div> 
</div>