.login
    display: inline-block
    color: #ffffff
    margin: 20px 2px
    cursor: pointer
    i
        vertical-align: bottom
.logoff
    display: inline-block
    color: #ffffff
    margin: 20px 2px
    cursor: pointer
    i
        vertical-align: bottom